@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* Toggle Switch */
  .toggle-checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .toggle-checkbox:checked + .toggle-label {
    background-color: #10b981; /* Tailwind green-500 */
  }
  .toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 1.5rem; /* 24px */
    width: 3rem; /* 48px */
    border-radius: 9999px; /* Fully rounded */
    background-color: #b0b0b0; /* Default gray background */
    position: relative;
    transition: background-color 0.3s ease-in-out;
  }
  .toggle-label:after {
    content: "";
    position: absolute;
    top: 0.1875rem; /* 3px */
    left: 0.25rem; /* 4px */
    width: 1.125rem; /* 18px */
    height: 1.125rem; /* 18px */
    border-radius: 50%;
    background: white;
    transition: 0.3s ease-in-out;
  }
  .toggle-checkbox:checked + .toggle-label:after {
    left: 1.625rem; /* 26px */
  }
}
